<h1>Detail</h1>

<p>{{ phone.name }}</p>
<img src={{phone.image}} />
<a href="/{{phone.name}}/edit">Edit</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{phone.name}}?
      </div>
      <form action="/{{phone.name}}?_method=DELETE" method="POST">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit"  class="btn btn-primary">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>
